.course-block{
    padding: 15px;
    margin: 10px 0;
    background-color: white;
}

.code {
    font-size: 45px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.d {
    color: #2776ea;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: black;
    margin: 5px 0 0 0;
}

.description {
    font-size: 24px;
    color: #636363;
    margin: 10px 0 0 0;
}