.discussion-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px;               
}

.expand-text-container {
    align-self: flex-start;
    display: flex;
    align-items: center;    
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 10px #2776ea;           
}
.expand-text {
    font-size: 20px;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    
    margin-left: 10px;
    
}

.expand-button {
    color: #2776ea;
    height: 100%;
    width: 80px;
    border-radius: 10px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
.post-close {
    display: flex;
    align-items: center;
}

.cancel-button {
    border: none;
    background-color: #ea3a27;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.discussion-form {
    margin-top: -50px;
    max-width: 900px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.header-input {
    height: 30px;
}
.main-input {
    margin-top: 10px;
    height: 80px;
}

.header-input,
.main-input {
    width: 800px;
    background-color: white;
    box-shadow: 0 0px 4px #2776ea;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 24px;
    font-family: Arial;
    overflow: hidden;      /* hide scrollbars */
    resize: none;          /* prevent manual resizing */
    border: 1px solid transparent;
}

.submit-button {
    border: none;
    background-color: #2776ea;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    margin-top: 5px;
    font-size: 21px;
    font-weight: bold;
    color: white;
}

/* override Toastify styles */
.Toastify__toast--success {
    font-size: 24px;
    padding: 16px 24px;
}
.Toastify__toast--error {
    color: #2776ea;
}

:root {

  --toastify-color-success: #2776ea;
  --toastify-color-error: #2776ea;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-error: var(--toastify-color-error);
}