.search-bar {
    width: 100%;
    max-width: 600px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 8px #2776ea;
    display: flex;
    align-items: center;

}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}

.search-icon {
    color: #2776ea;
    width: 70px;
    height: 70px;
}