.main-container {
    margin: 0;
    background-color: #f4fcf4;
}
.each-box{
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 30px;
    height: 250px;
    background-color: white;
    box-shadow: 0 2px 6px #6bdb6b;
    margin-bottom: 5px;
}

.course-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-code{
    color: #175d17;
    font-size: 38px;
    margin-top: 20px;
}

.title{
    font-size: 22px;
}

.radar {
    margin-right: 40px;
    transform: scale(1.3);
}


.add-review{
    background: #6b6bdb;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.view-review{
    background: #6bdb6b;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.down, .plus {
    height: 25px;
    width: 25px;
}