.search-bar {
    width: 100%;
    max-width: 500px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 8px #6bdb6b;
    display: flex;
    align-items: center;

}

.search-icon {
    color: #40cc40;
    height: 70px;
    width: 70px;
}
